{% extends "layout.html" %}
{% block content %}
    <div class="content-section col-md-6 offset-md-3">
        <form method="POST" action="">
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Join Today</legend>
                <div class="form-group mb-3">
                    <label for="name">Full Name</label>
                    <input type="text" class="form-control" id="name" name="name" required>
                </div>
                <div class="form-group mb-3">
                    <label for="email">Email address</label>
                    <input type="email" class="form-control" id="email" name="email" required>
                </div>
                <div class="form-group mb-3">
                    <label for="password">Password</label>
                    <input type="password" class="form-control" id="password" name="password" required>
                </div>
                <div class="form-group mb-3">
                    <label for="branch">Branch</label>
                    <select class="form-select" id="branch" name="branch">
                        <option>Cyber Security</option>
                        <option>AIML</option>
                    </select>
                </div>
                 <div class="form-group mb-3">
                    <label for="year">Year</label>
                    <input type="number" class="form-control" id="year" name="year" required min="1" max="4">
                </div>
            </fieldset>
            <div class="form-group">
                <button class="btn btn-outline-info" type="submit">Sign Up</button>
            </div>
        </form>
        <div class="border-top pt-3 mt-3">
            <small class="text-muted">
                Already Have An Account? <a class="ml-2" href="{{ url_for('login') }}">Sign In</a>
            </small>
        </div>
    </div>
{% endblock content %}