{% extends "layout.html" %}
{% block content %}
<div class="col-md-6 offset-md-3">
    <div class="card p-4">
        <form method="POST" action="">
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Verify Your Email</legend>
                <p>An OTP has been sent to <strong>{{ email }}</strong>. Please enter it below.</p>
                <div class="form-group mb-3">
                    <label for="otp" class="form-label">6-Digit OTP</label>
                    <input type="text" class="form-control" id="otp" name="otp" required maxlength="6" autofocus>
                </div>
            </fieldset>
            <div class="form-group">
                <button class="btn btn-primary w-100" type="submit">Verify Account</button>
            </div>
        </form>
    </div>
</div>
{% endblock content %}
